# Виртуальное окружение
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Логи
logs/
*.log

# Изображения (результаты работы)
images/

# Данные
*.csv
*.xlsx

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
